<h1>Post View</h1>

<article>

  <h2><%= @post.title %></h2>
  <time>Posted by <%= @post.author %> at <%= @post.updated_at %></time>
  <p><%= @post.content %></p>

  <%= link_to "Edit Post", edit_post_path(@post) %>
  <%= link_to "Delete Post", post_path(@post), method: :delete %>

  <div class='comments'>
    
  <h3>Comments</h3>
  <%= link_to "Add new comment", new_post_comment_path(@post) %>
  <% @post.comments.each do |comment| %>
    <div>
      <time>Updated <%= comment.updated_at %></time>
      <p>
	<%= comment.body %>
      </p>
      <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
      <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
    </div>
  <% end %>
  </div>
</article>
